::selection {
    background-color: rgb(83, 155, 104);
}
body {
background-color: #b4cfbced;
}
::-webkit-scrollbar {
    width: 10px;
    background-color: white;
    /* ширина полоски прокрутки */
}

::-webkit-scrollbar-thumb {
    background-color: #7dba8fed;
    /* колір полоски прокрутки */
}
.logo {
        background-color: #7dba8fed;
        color: rgb(255, 255, 255);
        font-size: 24px;
        font-weight: bold;
        text-align: center;
        width: 100%;
        height: 50px;
        line-height: 50px;
        line-height: 50px;
            transition: all 0.3s ease-in-out;
        margin-bottom: 50px;
        height: 60px;
    }    
.box-img{
float: right;
max-width: 100%;
border-radius: 52%;
}

.logo:hover {
    transform: scale(1.1);
    /* збільшення масштабу на 10% */
}
.content {
background-color: #7dba8fed;
padding: 20px;
border: 1px solid #ccc;
transition: background-color 0.3s ease-in-out;
    }
    
    .content:hover {
        background-color: #91cfa4ed;
    }
img {
    width: 200px;
    height: 200px;
    border: 1px solid #7dba8fed;
    transition: all 0.3s ease-in-out;
    margin: 50px;
    /* анімація зміни */
}

img:hover {
    transform: scale(1.1);
    /* збільшення масштабу на 10% */
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    /* додавання тіні */
    border-color: #333;
    /* зміна кольору рамки */
}
body {
    font-family: 'Open Sans', sans-serif;
}
.menu {
    display: flex;
    justify-content: flex-end;
}

.menu ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.menu ul li {
    list-style: none;
    margin: 10px 0;
    display: block;
    text-transform: uppercase;
}

.menu ul li a {
    color: #333;
    text-decoration: none;
    padding: 10px 0;
}
.menu ul li:hover {
    background-color: white;
    color: green;
}

.mobile div {
    display: block;
    position: fixed;
    bottom: 16px;
    right: 16px;
    background-color: #5f9971ed;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    z-index: 9999999;
    border: 4px solid #a9d3ca;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    box-sizing: content-box;
}

.mobile div span {
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 30px;
    height: 4px;
    background-color: #fff;
    border-radius: 13px;
    transition-duration: .4s;
}

.mobile div span:nth-child(1) {
    top: 14px;
}

.mobile div span:nth-child(2) {
    top: 23px;
}

.mobile div span:nth-child(3) {
    bottom: 14px;
}

.mobile div.active span:nth-child(1) {
    transform: translate(-15px, 9px) rotate(-45deg);
}

.mobile div.active span:nth-child(2) {
    transition-duration: 0s;
    opacity: 0;
}

.mobile div.active span:nth-child(3) {
    transform: translate(-15px, -9px) rotate(45deg);
}

.mobile nav {
    display: block;
    position: fixed;
    bottom: 16px;
    right: 16px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    z-index: 9999990;
    transition-duration: .4s;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.mobile nav.open {
    background-color: rgba(0, 0, 0, 0.9);
    width: 100vw;
    height: 100vh;
    right: 0px;
    bottom: 0px;
    border-radius: 0;
}

.mobile nav ul {
    display: none;
}

.mobile nav ul.show {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
}

.mobile ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    width: 100%;
    opacity: 0;
    animation-name: fadein;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.mobile ul li:not(:last-child) {
    margin-bottom: 22px;
}

.mobile ul li a {
    font-size: 24px;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    text-decoration: none;
    color: #fff;
}

@keyframes fadein {
    0% {
        opacity: 0;

    }

    100% {
        opacity: 1;
    }
}